.container {
    display: inline-flex;
    flex-direction: column;
    border-radius: 4;
}
.title {
    font-weight: bold;
    font-size: 400;
}
.text{
    font-size: 300;
}
.link {
    color: blue
}
.link:hover{
    color:blueviolet
}